* {
    margin: 0;
}

body {
    width: 25rem;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

li {
    height: 100px;
    padding: 1rem;
    display: flex;
}
li:nth-child(odd) {
    background-color: #ffffff;
}
li:nth-child(even) {
    background-color: #80808030;
}

h3,p {
    margin: 0;
}

a{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.favicon {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    flex-grow: 1;
}