* {
    margin: 0;
}

body {
    width: 25rem;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

li {
    display: flex;
    height: 100px;
    padding: 1rem;
}
li:nth-child(odd) {
    background-color: #ffffff;
}
li:nth-child(even) {
    background-color: #80808030;
}

h3,p {
    margin: 0;
}

a{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.favicon {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    flex-grow: 1;
    justify-content: flex-start
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
}

.play-button {
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    background-image: url('images/pause_button.png');
    border: none;
    background-color: transparent;
    background-size: cover;
    cursor: pointer;
}

.play-button.play {
    background-image: url('images/play_button.png');
}